
html, body {
    font-family: "Courier", "Courier New", monospace;
    background-color: rgb(14, 10, 25);
    max-width: 100%;
    outline:0 !important;
    border: none !important;
    outline: none !important;
}

.row {
    width:100%;
}

button:focus {outline:0;}

h4, h5, h6, h7, label{
    font-family: "Courier", "Courier New", monospace;
    text-align: center;
    align: center;

    outline:0 !important;
    border: none !important;
    outline: none !important;

    color: rgba(255, 255, 255, 0.8);
}

p {
    color: rgba(190, 190, 190, 1) !important;
    font-size: 17px;
}

.noselect {
    -webkit-touch-callout: none !important; /* iOS Safari */
    -webkit-user-select: none !important; /* Safari */
    -khtml-user-select: none !important; /* Konqueror HTML */
    -moz-user-select: none !important; /* Old versions of Firefox */
    -ms-user-select: none !important; /* Internet Explorer/Edge */
    user-select: none !important; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.top-sample-row {
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px !important;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    max-width: 500px;
}

.nav-link:active, .nav-link:link, .nav-link:visited, .nav-link:hover, .nav-link:active {
    color: rgba(255,255,255,0.65) !important;
    background-color:  rgba(255, 255, 255, 0.0) !important;
}


.mid-sample-row {
    background-color: rgba(255, 255, 255, 0.1);

    margin-left:10px;
    margin-right:10px;
}

.btm-sample-row {
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-left:0px;
    margin-right:0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#keyTable{
    color: lime;
}

#sampleTableContainer{
    color: rgba(180, 180, 180, 1);
}

.qr-code {
  max-width: 200px;
  margin: 10px;
}

.keys-btn{
    outline:0 !important;
    border: none !important;
    outline: none !important;

    background-color: rgba(180, 180, 180, 0);
    background: rgba(180, 180, 180, 0);

}

.btn {
    outline:0 !important;
    border: none !important;
    outline: none !important;
    /*color: purple;*/
}


.form-control {
    outline:0;
    background-color: rgba(180, 180, 180, 0.1);
    background: rgba(180, 180, 180, 0.1);
    color: black;
}

.input {
    outline:0 !important;
    border: none !important;
    outline: none !important;
    background-color: clear !important;
    background: transparent !important;
    color: clear !important;
}

.scroll-container {
  scroll-padding: 0 0 0 0;
}

.keyPad {
    color: white;
}

.keyPadInput, .keyPadInput:focus, .keyPadInput:active {
    color: white;

    background-color: clear !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    -moz-outline-style: none !important;
}

.card-block {
    border-radius: 5px;
    background-color: rgba(100, 0, 255, 0);
    outline: 0;
    border: none !important;
    -moz-outline-style: none !important;
}

.card {
    outline:0 !important;
    border: none !important;
    outline: none !important;
    font-size: 25px;
    outline:0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}


.card-title {
    color: white;
}

.card:active, .card:focus {
    outline:0 !important;
    border: none !important;
    outline: none !important;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.75);
}

.card-block {
    outline:0 !important;
    border: none !important;
    outline: none !important;

    border-radius: 5px;
    color: rgba(255, 255, 255, 0.01);
    background-color: rgba(255, 255, 255, 0.01);
}

.slidecontainer {
  width: 70%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    webkit-appearance: none;
    width: 100%;
    height: 25px;
    border-radius: 30px;
    background: rgba(255,255,255,1);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgba(0,0,50,1);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgba(0,0,50,0.75);
  cursor: pointer;
}

.attack_knob {
    color: black;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    font-size: 15px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0);
}

.button {
    outline:0 !important;
    border: none !important;
    outline: none !important;

    color: black;
    background-color: rgba(255,255,255, 1);

    display: inline-block;
    padding: 3px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: 2px;

    border: none;
    border-radius: 5px;
    box-shadow: 0 1px black;
}

.button:hover {background-color: rgba(255,255,255,1)}

.button:active {
  background-color: rgba(255,255,255,1);
  box-shadow: 0 0px black;
  //transform: translateY(4px);
}

.navbar-light {
  border: none;
}

.tab {
    outline:0 !important;
    border: none !important;
    outline: none !important;

    color: white;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}


.awesome {
    font-family: times;
    font-style: italic;

    width:100%;

    margin-top: 0px;
    margin-bottom: 0px;

    padding-top: 40px;
    padding-bottom: 0px;

    /* margin: 0 auto; */
    text-align: center;
    align: center;

    color:#313131;
    font-size 70px;
    font-weight: bold;
    -webkit-animation: colorchange 2s infinite alternate;
}

@-webkit-keyframes colorchange {
  0% {

    color: blue;
  }

  10% {

    color: #8e44ad;
  }

  20% {

    color: #1abc9c;
  }

  30% {

    color: #d35400;
  }

  40% {

    color: blue;
  }

  50% {

    color: #34495e;
  }

  60% {

    color: blue;
  }

  70% {

    color: #2980b9;
  }
  80% {

    color: #ff2a00;
  }

  90% {

    color: #2980b9;
  }

  100% {

    color: pink;
  }
}
