body {
    background-color: rgb(40, 40, 50);
}

#keyTable{
    color: lime;
}

#sampleTableContainer{
    color: rgba(180, 180, 180, 1);
}

.qr-code {
  max-width: 200px;
  margin: 10px;
}

.btn{
    color: purple;
}

.scroll-container {
  scroll-padding: 0 0 0 0;
}

.keyPadInput, .keyPadInput:focus, .keyPadInput:active {
    background-color: clear !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    -moz-outline-style: none !important;
}

.card-block {
    border-radius: 5px;
    background-color: rgba(100, 0, 255, 0);
    outline: 0;
    border: none !important;
    -moz-outline-style: none !important;
}

.card {
    font-size: 25px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
}

.card:active, .card:focus {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.75);
}

.card-block {
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.01);
    background-color: rgba(255, 255, 255, 0.01);
}

.slidecontainer {
  width: 70%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  border-radius: 30px;
  background: rgba(255,255,255,0.35);
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgba(0,0,50,0.75);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgba(0,0,50,0.75);
  cursor: pointer;
}

.attack_knob {
    color: black;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    font-size: 15px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0);
}

.button {
  display: inline-block;
  padding: 3px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: 2px;
  color: purple;
  background-color: rgba(255,255,255, 0.40);
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px black;
}

.button:hover {background-color: rgba(255,255,255,0.25)}

.button:active {
  background-color: rgba(255,255,255,0.25);
  box-shadow: 0 0px black;
  transform: translateY(4px);
}

.navbar-light {
  border: none;
}

.tab{
    color: white;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}


.awesome {
    font-family: times;
    font-style: italic;

    width:100%;

    margin-top: 0px;
    margin-bottom: 0px;

    padding-top: 40px;
    padding-bottom: 0px;

    /* margin: 0 auto; */
    text-align: center;
    align: center;

    color:#313131;
    font-size 70px;
    font-weight: bold;
    -webkit-animation: colorchange 2s infinite alternate;
}

h4, h5, h6, h7, p, label {
    text-align: center;
    align: center;

    color: rgba(255, 255, 255, 1.0);
}


@-webkit-keyframes colorchange {
  0% {

    color: blue;
  }

  10% {

    color: #8e44ad;
  }

  20% {

    color: #1abc9c;
  }

  30% {

    color: #d35400;
  }

  40% {

    color: blue;
  }

  50% {

    color: #34495e;
  }

  60% {

    color: blue;
  }

  70% {

    color: #2980b9;
  }
  80% {

    color: #ff2a00;
  }

  90% {

    color: #2980b9;
  }

  100% {

    color: pink;
  }
}
